* {
    padding: 0%;
    margin: 0%;
}

nav {
    background-color: rgba(122, 11, 11, 0.568);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}   

#nav-items {
    display: flex;
    gap: 15px;
}

.list-item {
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 15pt;
}

header {
    background-image: url(../assets/images/i);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 80vh;
}

.input-section {
    display: flex;
    justify-content: center;
    position: relative;
    top: 50%;
    background-color: rgba(100, 5, 5, 0.534);
    padding: 30px;
    margin-left: 20%;
    margin-right: 20%;
}

input {
    padding: 20px;
    width: 50%;
}

.section-button {
    background-color: rgb(243, 13, 44);
    width: 15%;
    border: none;
    color: white;

}
.section-button {
    padding: 2%;
    width: 10%;
    border: none;
    color: white;
}

.main-container {
width: 50%;
margin: auto;
}

.main-container h1{
    text-align: center;
    font-size: 30px;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.flex-container {
    display: flex;
    gap: 20px;
    margin-bottom: 3rem;
}

.text.container {
    width: 50%;
    font-size: 15px;
    margin-bottom: 1.2rem;
}
.image-container {
    width: 50%;
}

.main-section {
    width: 100%;
}

.image-container img{
    width: 100%;
}

.text-container h3 {
    margin-bottom: 1rem;
}

.text-container p {
line-height: 1.6;
margin-bottom: 1.2rem;
color: gray;
}

 